<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jackphan.snapgrid">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_icon_snapgrid"
        android:label="@string/app_name"
        android:resizeableActivity="true"
        android:roundIcon="@mipmap/ic_icon_snapgrid_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SnapGrid"
        android:windowSoftInputMode="adjustPan"
        tools:targetApi="31">
        <activity
            android:name="com.jackphan.snapgrid.Forgot_Password"
            android:exported="false" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/logo" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/primary_color" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.jackphan.snapgrid.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/paths" />
        </provider> <!-- <activity -->
        <!-- android:name=".ShipDataActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name="com.jackphan.snapgrid.PostAddingActivity"
            android:exported="false" />
        <activity
            android:name="com.jackphan.snapgrid.ConfigAccountActivity"
            android:exported="false" />
        <activity
            android:name="com.jackphan.snapgrid.SettingActivity"
            android:exported="false" />
        <activity
            android:name="com.jackphan.snapgrid.ChatToChatActivity"
            android:exported="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jackphan.snapgrid.MainActivity" />
        </activity>
        <activity
            android:name="com.jackphan.snapgrid.UserConfigActivity"
            android:exported="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jackphan.snapgrid.MainActivity" />
        </activity>
        <activity
            android:name="com.jackphan.snapgrid.Activity_Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.jackphan.snapgrid.SignUpActivity"
            android:exported="true" />
        <activity
            android:name="com.jackphan.snapgrid.MainActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name="com.jackphan.snapgrid.NavigationActivity"
            android:exported="false" />
        <activity
            android:name="com.jackphan.snapgrid.Login"
            android:exported="false" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <service
            android:name="com.jackphan.snapgrid.service.FCMNotificationService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />
    </application>

</manifest>